#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

PKG := github.com/containerd/containerd
BUILDTAGS := -tags "seccomp apparmor"
GO_LDFLAGS := -ldflags '-X $(PKG)/version.Version=$(DEB_VERSION)'

export DH_GOLANG_EXCLUDES := \
	cmd/protoc-gen-gogoctrd cmd/gen-manpages cmd/containerd-stress \
	runtime/v2/example/cmd

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	make man
	dh_auto_build -- $(BUILDTAGS) $(GO_LDFLAGS)

override_dh_auto_test:
	dh_auto_test -- $(BUILDTAGS)
